<!doctype html>
<html >
<meta charset="utf-8" />
<meta name="google" value="nontranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
<!-- Formatting -->
<link rel="stylesheet" href="../CSS/format.css">
    
	<head>
		<title>JZheng213 - Pomodoro Timer</title>
	</head>
 
<body class="text-center" id="main-background">
  <h1 id="main-Title">Pomodoro Timer</h1>
  <main ng-app="PomodoroTimer" ng-controller="MainCtrl" ng-init="newTimer()">
      <div class="row">
        <div class="breakContainer col-lg-offset-4 col-lg-2 col-md-offset-4 col-md-2 col-sm-offset-3 col-sm-3 col-xs-12">
            <p>BREAK LENGTH</p>
            <button id="timeMinus"  ng-click="timeChange(-60, 'breakLength')">-</button>
            <!-- add session length here -->
            <span id="timeLength">{{breakLength}}</span> 
            <button id="timeAdd" ng-click="timeChange(60, 'breakLength')">+</button>
            
        </div>
        <div class="sessionContainer col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <p>SESSION LENGTH</p>
            <button id="timeMinus" ng-click="timeChange(-60, 'sessionLength')">-</button>
            <!-- add session length here -->
            <span id="timeLength">{{sessionLength}}</span> 
            <button id="timeAdd" ng-click="timeChange(60, 'sessionLength')">+</button>
        </div>
    </div>
    <div align="center">
    <section ng-click="triggerTimer()">
      <div id="timer">
        <p>{{sessionName}}</p>
        <!-- Timer -->
        <p>{{sessionTime}}</p>
        <span ng-style="{'height':fillHeight, 'background':fillColor}" class="colorFill"></span>
      </div>
    </section>    
    </div>
</main>

    <script src="../Script/angular.js"></script>    
    <script type="text/javascript" src="../Script/main.js"></script>
</body>


</html>

